#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	autoreconf -i
	dh_auto_configure -- --prefix=/usr

override_dh_auto_install:
	dh_auto_install
	# Remove .la files
	find debian/tmp -name '*.la' -delete

override_dh_missing:
	dh_missing --list-missing

override_dh_shlibdeps:
	dh_shlibdeps -l debian/libpuppetc0/usr/lib/$(DEB_HOST_MULTIARCH):debian/libpuppetc-common0/usr/lib/$(DEB_HOST_MULTIARCH):debian/libfacter-c0/usr/lib/$(DEB_HOST_MULTIARCH)
